/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start: 100px;
  padding-block-end: 100px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 20px;
  background-color: #d3d3d3;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight, 410);
}

.responsive-size-block {
  margin-inline: auto;
  max-inline-size: var(--clamp-size-block);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 98px;
  border: 2px solid var(--accent-color, #000);
  padding-inline: clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  font-family: var(--accent-font-family, 'Press Start 2P'), system-ui;
  background-color: var(--main-background-color, #fff);
}

.header__logo {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.sprints__card-list {
  margin-block-end: 50px;
}

.sprints__card-list-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--main-background-color, #fff);
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  font-size: 18px;
  line-height: 1.223;
  font-variation-settings: 'wght' var(--accent-font-weight, 715);
}

.card__image-wrapper {
  position: relative;
  border-block-start: 2px solid var(--accent-color, #000);
  border-block-end: 2px solid var(--accent-color, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font-family, 'Press Start 2P'), system-ui;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
  -1px 0 var(--color-text-stroke, #fff),
  0 1px var(--color-text-stroke, #fff),
  1px 0 var(--color-text-stroke, #fff),
  0 -1px var(--color-text-stroke, #fff);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
  font-size: 18px;
}

.card__text {
  line-height: 1.17;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button {
  border: 2px solid var(--accent-color, #000);
  font-family: var(--accent-font-family, 'Press Start 2P'), system-ui;
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--main-background-color, #fff);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0%);
}

.card__icon-button {
  padding-inline: 0;
  padding-block: 0;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.like-icon {
  display: block;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s 0.1s ease-in;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: visible-sparks 0.3s 0.3s ease-in;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  position: relative;
  color: var(--main-background-color, #fff);
  mix-blend-mode: difference;
}

.button__icon {
  fill: var(--main-background-color, #fff);
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  padding-inline: 10px;
  padding-block: 15px;
  letter-spacing: 0px;
  inline-size: 100%;
  max-inline-size: 335px;
}

.save-dialog {
  border: 2px solid var(--accent-color, #000);
  padding-inline: 30px;
  padding-block: 30px;
  inline-size: 100%;
  max-inline-size: 353px;
}

.save-dialog::backdrop {
  background-color: var(--accent-color, #000);
  opacity: 0.5;
}

.save-dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px 20px;
}

.save-dialog__text {
  font-family: var(--accent-font-family, 'Press Start 2P'), system-ui;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.save-dialog__button-close {
  grid-column: 2 span;
  padding: 0 50px;
  text-transform: uppercase;
  min-block-size: 38px;
}

@supports (-webkit-text-stroke: 1px var(--color-text-stroke, #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-text-stroke, #fff);
  }
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
    max-inline-size: 306px;
  }

  .button-save .button__icon {
    width: 28px;
    height: 28px;
  }

  .save-dialog {
    padding-inline: 40px;
    max-inline-size: 341px;
  }
}