/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-size: 20px;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: #d3d3d3;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding-block-start: 100px;
  padding-block-end: 100px;
}

.responsive-size-block {
  max-inline-size: var(--clamp-size-block);
  margin-inline: auto;
}

.header {
  font-family: var(--accent-font-family), system-ui;
  background-color: #fff;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  padding-inline: clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 98px;
}

.header__logo {  
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.sprints__card-list {
  margin-block-end: 52px;
}

.sprints__card-list-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {  
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--accent-font-weight);
  padding-block: 4px;
  padding-inline: 10px;
}

.card__image-wrapper {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
  margin-bottom: -2px;
}

.card__label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font-family), system-ui;
  text-transform: uppercase;
  font-size: 14px;  
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 var(--color-text-stroke), 
  0 1px var(--color-text-stroke), 
  1px 0 var(--color-text-stroke), 
  0 -1px var(--color-text-stroke);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block: 25px;
  padding-inline: 25px;
  font-size: 18px;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.button {
  padding: 0;
  border: 2px solid #000;
  font-family: var(--accent-font-family), system-ui;
  cursor: pointer;
  background-color: #fff;
}

@supports (-webkit-text-stroke: 1px var(--color-text-stroke)) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-text-stroke);
    text-shadow: none;
  }
}