/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter Variable";
  --accent-font-family: "Press Start 2P";
  --main-font-weight: 410;
  --accent-font-weight: 715;
  --background-gradient: repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --clamp-size-block: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --color-text-stroke: #fff;
  --main-background-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #000;
  --animation-fill-color-active: #f00;
  --sparks-color: #f00;
}
